{% extends "base.html.twig" %}
{% block title %}Edit{% endblock %}
{% block body %}
    <main>
        <div class="container my-5">
            <h2 class="text-center">Product</h2>
            <div class="card">
                <div class="card-header">
                    Termék #{{ product.id }}
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
                <a href="{{ path('profile') }}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </main>
{% endblock %}