@import "~bootstrap/scss/bootstrap";
body{
 background-image: url("../assets/images/background.jpg");
}
header{
  position:fixed !important;
  top: 10vh;
  left: 0;
}
.bg-primary{
  color:#d2a57d!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a{
  color:#222021;
}

.card{
  background-color: #d2a57d;
}

